#about {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin-top: 100vh;
}

.about__about-me {
  display: flex;
  align-self: center;
  width: 100%;
  height: 60vh;
  margin-top: 40px;
  background-color: #fff;
  box-shadow: inset 0 0 20px 10px #0006;
}

.about__about-me__info {
  width: 420px;
  margin-left: 17%;
  height: 60vh;
}

.about__about-me__info h2 {
  font: bold 80px/1 'bold', sans-serif;
  color: #fff;
  -webkit-text-stroke: 3px #000;
  letter-spacing: -7px;
}

.about__about-me__info p {
  font: 30px/1.5 'normal', sans-serif;
  margin-top: -10%;
  margin-bottom: 15%;
}

.about__about-me__engines {
  width: 700px;
  height: 100%;
  margin-left: 60%;
  position: absolute;
}

.about__about-me__engines h2 {
  font: bold 80px/1 'bold', sans-serif;
  color: #fff;
  -webkit-text-stroke: 3px #000;
  letter-spacing: -7px;
  text-wrap: wrap;

}

.godot,
.unity {
  transition: transform 0.1s;
}

.godot {
  width: 350px;
  height: 130px;
  margin: -7% 0 0 10%;
}

.unity {
  width: 400px;
  height: 230px;
  margin: 1% 0 0 10%;
}

.about__about-me__engines img:hover {
  transform: scale(1.1);
}
