body {
  overflow-y: scroll;
  overflow-x: hidden;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* 1441px - 2920px ========================================================== */

@media screen and (min-width: 1441px) and (max-width: 2920px) {
  /* Nav =======================================================  */
  #nav {
    display: flex;
    position: sticky;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 10px var(--background);
    gap: 4vw;
    top: 0;
  }

  .nav__image {
    width: 8rem;
    height: auto;
    transition: transform 0.1s;
  }

  .nav__image:hover {
    transform: scale(1.1);
  }

  .nav__media {
    display: flex;
    gap: 1vw;
  }

  /* Main */

  main {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .main__title {
    text-align: center;
    font-family: bold;
    font-size: 3rem;
    margin-bottom: 2vh;
  }

  .slider-container {
    display: flex;
    align-items: center;
    width: 30vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px var(--background);
  }

  .slider-container__slider img {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    display: none;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 30vw;
    border-radius: 10px;
  }

  .slider-container button {
    position: absolute;
    background-color: var(--background);
    opacity: 0.8;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    border-color: transparent;
    width: 5%;
    height: 10%;
    z-index: 900;
    transition: transform 0.1s;
  }

  .slider-container button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .slider-container__next {
    right: 25%;
    margin-right: 2vw;
  }

  .slider-container__prev {
    left: 25%;
    margin-left: 2vw;
  }

  img.displaySlide,
  iframe.displaySlide {
    display: block;
    animation: fade 0.2s;
  }

  .main__info {
    width: 30%;
    letter-spacing: 0.5px;
    font-family: normal;
    text-align: center;
    font-size: 1.5rem;
  }

  .buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
  }

  .buttons__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 3vw;
    width: 10%;
    min-height: 10vh;
    background-color: #000;
    border-radius: 10px;
    transition: transform 0.1s;
    text-align: center;
    color: #fff;
    font-family: normal;
    font-size: 1.5rem;
  }

  .buttons__button:hover {
    transform: scale(1.1);
  }

  .buttons__button img {
    width: 80%;
    height: auto;
  }
}

/* 1201px - 1440px ========================================================== */

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  /* Nav =======================================================  */
  #nav {
    display: flex;
    position: sticky;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 10px var(--background);
    gap: 4vw;
    top: 0;
  }

  .nav__image {
    width: 8rem;
    height: auto;
    transition: transform 0.1s;
  }

  .nav__image:hover {
    transform: scale(1.1);
  }

  .nav__media {
    display: flex;
    gap: 1vw;
  }

  /* Main */

  main {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .main__title {
    text-align: center;
    font-family: bold;
    font-size: 4rem;
    margin-bottom: 2vh;
  }

  .slider-container {
    display: flex;
    align-items: center;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px var(--background);
  }

  .slider-container__slider img {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    display: none;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 50vw;
    border-radius: 10px;
  }

  .slider-container button {
    position: absolute;
    background-color: var(--background);
    opacity: 0.8;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    border-color: transparent;
    width: 5%;
    height: 10%;
    z-index: 900;
    transition: transform 0.1s;
  }

  .slider-container button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .slider-container__next {
    right: 25%;
    margin-right: 2vw;
  }

  .slider-container__prev {
    left: 25%;
    margin-left: 2vw;
  }

  img.displaySlide,
  iframe.displaySlide {
    display: block;
    animation: fade 0.2s;
  }

  .main__info {
    width: 60%;
    letter-spacing: 0.5px;
    font-family: normal;
    text-align: center;
    font-size: 1.5rem;
  }

  .buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
  }

  .buttons__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 3vw;
    width: 20%;
    min-height: 12vh;
    background-color: #000;
    border-radius: 10px;
    transition: transform 0.1s;
    text-align: center;
    color: #fff;
    font-family: normal;
    font-size: 2rem;
  }

  .buttons__button:hover {
    transform: scale(1.1);
  }

  .buttons__button img {
    width: 80%;
    height: auto;
  }
}

/* 769px - 1200px ========================================================== */

@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* Nav =======================================================  */
  #nav {
    display: flex;
    position: sticky;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 10px var(--background);
    gap: 4vw;
    top: 0;
  }

  .nav__image {
    width: 8rem;
    height: auto;
    transition: transform 0.1s;
  }

  .nav__image:hover {
    transform: scale(1.1);
  }

  .nav__media {
    display: flex;
    gap: 1vw;
  }

  /* Main */

  main {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .main__title {
    text-align: center;
    font-family: bold;
    font-size: 4rem;
    margin-bottom: 2vh;
  }

  .slider-container {
    display: flex;
    align-items: center;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px var(--background);
  }

  .slider-container__slider img {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    display: none;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 50vw;
    border-radius: 10px;
  }

  .slider-container button {
    position: absolute;
    background-color: var(--background);
    opacity: 0.8;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    border-color: transparent;
    width: 5%;
    height: 10%;
    z-index: 900;
    transition: transform 0.1s;
  }

  .slider-container button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .slider-container__next {
    right: 25%;
    margin-right: 2vw;
  }

  .slider-container__prev {
    left: 25%;
    margin-left: 2vw;
  }

  img.displaySlide,
  iframe.displaySlide {
    display: block;
    animation: fade 0.2s;
  }

  .main__info {
    width: 60%;
    letter-spacing: 0.5px;
    font-family: normal;
    text-align: center;
    font-size: 1.5rem;
  }

  .buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
  }

  .buttons__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 3vw;
    width: 20%;
    min-height: 12vh;
    background-color: #000;
    border-radius: 10px;
    transition: transform 0.1s;
    text-align: center;
    color: #fff;
    font-family: normal;
    font-size: 2rem;
  }

  .buttons__button:hover {
    transform: scale(1.1);
  }

  .buttons__button img {
    width: 80%;
    height: auto;
  }
}

/* 575px - 768px =================================================*/

@media screen and (min-width: 575px) and (max-width: 768px) {
  /* Nav =======================================================  */
  #nav {
    display: flex;
    position: sticky;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 10px var(--background);
    gap: 4vw;
    top: 0;
  }

  .nav__image {
    width: 8rem;
    height: auto;
    transition: transform 0.1s;
  }

  .nav__image:hover {
    transform: scale(1.1);
  }

  .nav__media {
    display: flex;
    gap: 1vw;
  }

  /* Main */

  main {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .main__title {
    text-align: center;
    font-family: bold;
    font-size: 4rem;
    margin-bottom: 2vh;
  }

  .slider-container {
    display: flex;
    align-items: center;
    width: 80vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px var(--background);
  }

  .slider-container__slider img {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    display: none;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 80vw;
    border-radius: 10px;
  }

  .slider-container button {
    position: absolute;
    background-color: var(--background);
    opacity: 0.8;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    border-color: transparent;
    width: 5%;
    height: 10%;
    z-index: 900;
    transition: transform 0.1s;
  }

  .slider-container button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .slider-container__next {
    right: 0;
    margin-right: 2vw;
  }

  .slider-container__prev {
    left: 0;
    margin-left: 2vw;
  }

  img.displaySlide,
  iframe.displaySlide {
    display: block;
    animation: fade 0.2s;
  }

  .main__info {
    width: 80%;
    letter-spacing: 0.5px;
    font-family: normal;
    text-align: center;
    font-size: 1.5rem;
  }

  .buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
  }

  .buttons__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 3vw;
    width: 40%;
    min-height: 12vh;
    background-color: #000;
    border-radius: 10px;
    transition: transform 0.1s;
    text-align: center;
    color: #fff;
    font-family: normal;
    font-size: 2rem;
  }

  .buttons__button:hover {
    transform: scale(1.1);
  }

  .buttons__button img {
    width: 80%;
    height: auto;
  }
}

/* 0px - 574px ========================================================= */

@media screen and (min-width: 0px) and (max-width: 574px) {
  /* Nav =======================================================  */
  #nav {
    display: flex;
    position: sticky;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 10px var(--background);
    gap: 4vw;
    top: 0;
  }

  .nav__image {
    width: 6rem;
    height: auto;
    transition: transform 0.1s;
  }

  /* Main */

  main {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .main__title {
    text-align: center;
    font-family: bold;
    font-size: 3rem;
    margin-bottom: 2vh;
  }

  .slider-container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: auto;
    border-color: var(--background);
    border-style: solid none solid none;
    border-width: 4px;
  }

  .slider-container__slider img {
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    display: none;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 100vw;
  }

  .slider-container button {
    position: absolute;
    background-color: var(--background);
    opacity: 0.8;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    border-color: transparent;
    width: 10%;
    height: 10%;
    z-index: 900;
    transition: transform 0.1s;
  }

  .slider-container button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .slider-container__next {
    right: 0;
    margin-right: 2vw;
  }

  .slider-container__prev {
    left: 0;
    margin-left: 2vw;
  }

  img.displaySlide,
  iframe.displaySlide {
    display: block;
    animation: fade 0.2s;
  }

  .main__info {
    width: 95%;
    letter-spacing: 0.5px;
    font-family: normal;
    text-align: center;
    font-size: 1.5rem;
  }

  .buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5vh;
  }

  .buttons__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 3vw;
    width: 40%;
    min-height: 12vh;
    background-color: #000;
    border-radius: 10px;
    transition: transform 0.1s;
    text-align: center;
    color: #fff;
    font-family: normal;
    font-size: 1.5rem;
    margin-bottom: 3vh;
  }

  .buttons__button:hover {
    transform: scale(1.1);
  }

  .buttons__button img {
    width: 90%;
    height: auto;
  }
}
