#home {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* Buttons */
.home__buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
  height: 60vh;
  margin-top: 40px;
  background-color: #fff;
  box-shadow: inset 0 0 20px 10px #0006;
}

.home__buttons a {
  height: 290px;
  background-color: #000;
  border-radius: 30px;
  margin-top: 7%;
  border-color: transparent;
  box-shadow: 0px 0px 5px #000;
  font-family: normal;
  color: #fff;
  transition: transform 0.1s, color 0.1s;
}

.home__buttons a:hover {
  transform: scale(1.1);
  color: var(--cyan);
  cursor: pointer;
}

.home__buttons__contact,
.home__buttons__about {
  width: 280px;
  font-size: 55px;
  padding: 205px 0 0 20px;
}

.home__buttons__about {
  font-size: 60px;
}

.home__buttons__games {
  width: 470px;
  font-size: 100px;
  padding: 165px 0 0 20px;
}

.home__buttons__contact img,
.home__buttons__about img {
  margin: -200px 0 0 140px;
}

.home__buttons__games img {
  margin: -150px 0 0 330px;
}

.home__buttons img {
  position: absolute;
  width: 100px;
  height: 100px;
}
