nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 22.2vh;
  z-index: 1000;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
}

#home__image {
  width: 90%;
  max-width: 200px;
  height: auto;
  margin-top: -12%;
  transition: transform 0.1s;
}

#home__image:hover {
  transform: scale(0.9);
}

nav a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: 4vw normal;
  transition: color 0.1s;
}

.nav__a:hover {
  color: var(--cyan);
  cursor: pointer;
}

.nav__privacy {
  left: 250px;
}

.nav__policy {
  left: -250px;
}
