/* General */

body {
  background-color: #fff;
  overflow-y: auto;
}

/* Nav */

.nav__image {
  width: 10em;
  margin: 0;
}

/* main */

main {
  position: absolute;
  margin-top: 20vh;
  width: 100vw;
}

p,
h2 {
  position: relative;
  text-align: center;
  white-space: pre-line;
  padding: 5px;
}

p {
  font-family: normal;
  font-size: 2em;
}

h2 {
  font-family: bold;
  font-size: 3em;
}

@media only screen and (max-width: 612px) {
  .nav__image {
    width: 11em;
  }
}
