body {
  overflow-y: scroll;
}

nav {
  position: sticky;
  width: 100vw;
  height: 18vh;
  z-index: 1000;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px var(--background);
}

nav img {
  width: 8em;
  height: auto;
}

#privacy {
  position: relative;
  width: 100vw;
}

#privacy p,
#privacy h2 {
  position: relative;
  text-align: center;
  white-space: pre-line;
  padding: 5px;
}

#privacy p {
  font-family: normal;
  font-size: 2em;
}

#privacy h2 {
  font-family: bold;
  font-size: 3em;
}
