html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}

a:link {
  text-decoration: none;
  font-family: normal;
}

input:focus,
textarea:focus {
  outline: none;
}

a:hover {
  color: var(--cyan);
}

:root {
  --cyan: #00adb5;
}

@font-face {
  font-family: bold;
  src: url(fonts/bold.otf);
}

@font-face {
  font-family: normal;
  src: url(fonts/normal.otf);
}

@media screen and (max-width: 2920px) {
  /* Home */
  #home {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  .home__buttons a:link,
  .home__buttons a:visited,
  .home__buttons a:active {
    color: #fff;
    text-decoration: none;
  }

  .home__buttons a:hover {
    color: var(--cyan);
  }

  /* Buttons */

  .home__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .home__buttons__contact,
  .home__buttons__games,
  .home__buttons__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22vw;
    height: 32vh;
    background-color: #222831;
    border-radius: 30px;
  }

  .home__buttons img {
    width: auto;
    height: 50%;
    align-self: flex-end;
    margin: 1vw;
  }

  .home__buttons span {
    font-size: 4vw;
    font-family: normal;
    margin: 1vw;
  }

  #home a:hover {
    transform: scale(1.1);
  }

  #home a {
    transition: transform 0.1s, color 0.1s;
  }

  /* Nav */

  #nav {
    display: flex;
    position: fixed;
    background-color: #222831;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 10px #222831;
  }

  .nav__games,
  .nav__about {
    z-index: 100;
    font-size: 5vw;
    color: #fff;
    transition: color 0.1s;
  }

  .nav__games:hover,
  .nav__about:hover {
    color: var(--cyan);
  }

  .nav__image {
    width: 9rem;
    margin-top: -10%;
    height: auto;
    transition: transform 0.1s;
  }

  .nav__image:hover {
    transform: scale(1.1);
  }

  /* Footer */
  #footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 18vh;
    background-color: #222831;
    z-index: 1000;
    margin-top: 82vh;
    box-shadow: 1px 1px 10px #222831;
  }

  .footer__privacy {
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    margin-top: 12vh;
  }

  .footer__text {
    color: #fff;
    position: relative;
    font-family: bold;
    font-size: 2.3rem;
  }

  .footer__media {
    margin: 0 0.5% 0 0.5%;
    transition: all 0.1s;
  }

  .footer__media:hover {
    transform: scale(1.1);
  }

  /* About */
  #about {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;
    overflow-y: scroll;
  }

  /* About Info */

  .about__info {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__info h2 {
    font-size: 4vw;
    font-family: bold;
    margin: 0;
    color: #222831;
  }

  .about__info p {
    width: 30%;
    font-size: 1.6rem;
    font-family: normal;
    margin: 0;
    line-height: 6vh;
    text-align: center;
  }

  /* Contact */
  #contact {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 200vh;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 60vh;
    background-color: #fff;
  }

  .contact__form h2 {
    font-size: 0rem;
  }

  .contact__form img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .contact__form span {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #222831;
    margin: 10px;
  }

  .contact__form span input,
  .contact__form span textarea {
    background-color: transparent;
    border-color: transparent;
    resize: none;
    font-size: 20px;
    color: #393e46;
    font-family: normal;
    padding: 10px;
    overflow: auto;
  }

  .contact__form span input::placeholder,
  .contact__form span textarea::placeholder {
    font-family: bold;
    color: #393e46aa;
  }

  .contact__form span textarea {
    padding-top: 40px;
  }

  .contact__form__send {
    width: 70px;
    height: 70px;
    margin-bottom: 20vh;
    border-radius: 100%;
    transition: transform 0.1s;
  }

  .contact__form__send:hover {
    transform: scale(1.2);
  }

  .contact__form__send img {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 100;
  }

  #contact__form__send {
    position: absolute;
    z-index: 200;
    width: 70px;
    height: 70px;
  }

  #contact__form__send:hover {
    cursor: pointer;
  }

  #contact__form__name,
  #contact__form__email,
  #contact__form__info {
    width: 30vw;
  }

  #contact__form__info {
    height: 20vh;
  }

  #contact__form__name input,
  #contact__form__email input,
  #contact__form__info textarea {
    width: 30vw;
  }

  #contact__form__info textarea {
    height: 20vh;
  }
}

@media screen and (max-width: 1440px) {
  /* Home */
  #home {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  .home__buttons a:link,
  .home__buttons a:visited,
  .home__buttons a:active {
    color: #fff;
    text-decoration: none;
  }

  .home__buttons a:hover {
    color: var(--cyan);
  }

  /* Buttons */

  .home__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .home__buttons__contact,
  .home__buttons__games,
  .home__buttons__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 32vh;
    background-color: #222831;
    border-radius: 30px;
  }

  .home__buttons img {
    width: auto;
    height: 50%;
    align-self: center;
    margin: 0;
  }

  .home__buttons span {
    font-size: 4vw;
    font-family: normal;
    margin: 0;
  }

  #home a:hover {
    transform: scale(1.1);
  }

  #home a {
    transition: transform 0.1s, color 0.1s;
  }

  /* Nav */

  #nav {
    display: flex;
    position: fixed;
    background-color: #222831;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 10px #222831;
  }

  .nav__games,
  .nav__about {
    z-index: 100;
    font-size: 5vw;
    color: #fff;
    transition: color 0.1s;
  }

  .nav__games:hover,
  .nav__about:hover {
    color: var(--cyan);
  }

  .nav__image {
    width: 6.2rem;
    margin-top: -10%;
    height: auto;
    transition: transform 0.1s;
  }

  .nav__image:hover {
    transform: scale(1.1);
  }

  /* Footer */
  #footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 18vh;
    background-color: #222831;
    z-index: 1000;
    margin-top: 82vh;
    box-shadow: 1px 1px 10px #222831;
  }

  .footer__privacy {
    margin-top: 14vh;
    font-size: .9rem;
  }

  .footer__text {
    color: #fff;
    position: relative;
    font-family: bold;
    font-size: 2.3rem;
  }

  .footer__media {
    margin: 1.5% 0.5% 0 0.5%;
    transition: all 0.1s;
  }

  .footer__media:hover {
    transform: scale(1.1);
    transition: all 0.1s;
  }

  /* About */
  #about {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;
    overflow-y: scroll;
  }

  /* About Info */

  .about__info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__info h2 {
    font-size: 6vw;
    font-family: bold;
    margin: 0;
    color: #222831;
  }

  .about__info p {
    width: 50%;
    font-size: 1.6rem;
    font-family: normal;
    margin: 0;
    line-height: 6vh;
    text-align: center;
  }

  /* Contact */
  #contact {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 200vh;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 60vh;
    background-color: #fff;
  }

  .contact__form h2 {
    font-size: 0rem;
  }

  .contact__form img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .contact__form span {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #222831;
    margin: 10px;
  }

  .contact__form span input,
  .contact__form span textarea {
    background-color: transparent;
    border-color: transparent;
    resize: none;
    font-size: 20px;
    color: #393e46;
    font-family: normal;
    padding: 10px;
    overflow: auto;
  }

  .contact__form span input::placeholder,
  .contact__form span textarea::placeholder {
    font-family: bold;
    color: #393e46aa;
  }

  .contact__form span textarea {
    padding-top: 40px;
  }

  .contact__form__send {
    width: 70px;
    height: 70px;
    margin-bottom: 20vh;
    border-radius: 100%;
    transition: transform 0.1s;
  }

  .contact__form__send:hover {
    transform: scale(1.2);
  }

  .contact__form__send img {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 100;
  }

  #contact__form__send {
    position: absolute;
    z-index: 200;
    width: 70px;
    height: 70px;
  }

  #contact__form__name,
  #contact__form__email,
  #contact__form__info {
    width: 30vw;
  }

  #contact__form__info {
    height: 20vh;
  }

  #contact__form__name input,
  #contact__form__email input,
  #contact__form__info textarea {
    width: 30vw;
  }

  #contact__form__info textarea {
    height: 20vh;
  }
}

@media screen and (max-width: 1200px) {
  /* Home */
  #home {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  .home__buttons a:link,
  .home__buttons a:visited,
  .home__buttons a:active {
    color: #fff;
    text-decoration: none;
  }

  .home__buttons a:hover {
    color: var(--cyan);
  }

  /* Buttons */

  .home__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .home__buttons__contact,
  .home__buttons__games,
  .home__buttons__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 32vh;
    background-color: #222831;
    border-radius: 30px;
  }

  .home__buttons img {
    width: auto;
    height: 50%;
  }

  .home__buttons span {
    font-size: 4vw;
    font-family: normal;
  }

  #home a:hover {
    transform: scale(1.1);
  }

  #home a {
    transition: transform 0.1s, color 0.1s;
  }

  /* Nav */

  #nav {
    display: flex;
    position: fixed;
    background-color: #222831;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 10px #222831;
  }

  .nav__games,
  .nav__about {
    z-index: 100;
    font-size: 5vw;
    color: #fff;
  }

  .nav__image {
    width: 6.2rem;
    margin-top: -10%;
    height: auto;
    transition: transform 0.1s;
  }

  .nav__image:hover {
    transform: scale(1.1);
  }

  /* Footer */
  #footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 18vh;
    background-color: #222831;
    z-index: 1000;
    margin-top: 82vh;
    box-shadow: 1px 1px 10px #222831;
  }

  .footer__privacy {
    margin-top: 12.5vh;
    font-size: 1rem;
  }

  .footer__text {
    color: #fff;
    position: relative;
    font-family: bold;
    font-size: 2.3rem;
  }

  .footer__media {
    margin: 1.5% 0.5% 0 0.5%;
    transition: all 0.1s;
  }

  .footer__media:hover {
    transform: scale(1.1);
    transition: all 0.1s;
  }

  /* About */
  #about {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;
    overflow-y: scroll;
  }

  /* About Info */

  .about__info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__info h2 {
    font-size: 6vw;
    font-family: bold;
    margin: 0;
    color: #222831;
  }

  .about__info p {
    width: 80%;
    font-size: 1.6rem;
    font-family: normal;
    margin: 0;
    line-height: 6vh;
    text-align: center;
  }

  /* Contact */
  #contact {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 200vh;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 60vh;
    background-color: #fff;
  }

  .contact__form h2 {
    font-size: 0rem;
  }

  .contact__form img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .contact__form span {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #222831;
    margin: 10px;
  }

  .contact__form span input,
  .contact__form span textarea {
    background-color: transparent;
    border-color: transparent;
    resize: none;
    font-size: 20px;
    color: #393e46;
    font-family: normal;
    padding: 10px;
    overflow: auto;
  }

  .contact__form span input::placeholder,
  .contact__form span textarea::placeholder {
    font-family: bold;
    color: #393e46aa;
  }

  .contact__form span textarea {
    padding-top: 40px;
  }

  .contact__form__send {
    width: 70px;
    height: 70px;
    margin-bottom: 20vh;
    border-radius: 100%;
    transition: transform 0.1s;
  }

  .contact__form__send:hover {
    transform: scale(1.2);
  }

  .contact__form__send img {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 100;
  }

  #contact__form__send {
    position: absolute;
    z-index: 200;
    width: 70px;
    height: 70px;
  }

  #contact__form__name,
  #contact__form__email,
  #contact__form__info {
    width: 60vw;
  }

  #contact__form__info {
    height: 20vh;
  }

  #contact__form__name input,
  #contact__form__email input,
  #contact__form__info textarea {
    width: 60vw;
  }

  #contact__form__info textarea {
    height: 20vh;
  }
}

@media screen and (max-width: 768px) {
  /* Home */
  #home {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  .home__buttons a:link,
  .home__buttons a:visited,
  .home__buttons a:active {
    color: #fff;
    text-decoration: none;
  }

  /* Buttons */

  .home__buttons {
    display: flex;
    align-items: normal;
    justify-content: space-evenly;
    margin-top: 25vh;
    flex-wrap: wrap;
  }

  .home__buttons__contact,
  .home__buttons__about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 20vh;
    background-color: #222831;
    border-radius: 20px;
    text-align: center;
  }

  .home__buttons__contact span,
  .home__buttons__about span {
    position: relative;
    color: #fff;
    font-size: 5.6vw;
    padding: 1vw;
    font-family: normal;
  }

  .home__buttons__contact img,
  .home__buttons__about img {
    margin: 0;
    width: 4.2em;
    height: 4.2em;
  }

  .home__buttons__games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 20vh;
    background-color: #222831;
    border-radius: 20px;
    margin-top: -20vh;
  }

  .home__buttons__games span {
    position: relative;
    color: #fff;
    font-family: normal;
    font-size: 3rem;
    padding: 2vw;
  }

  .home__buttons__games img {
    width: 6em;
    height: 6em;
  }

  /* Nav */

  #nav {
    display: flex;
    position: fixed;
    background-color: #222831;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 10px #222831;
  }

  .nav__games,
  .nav__about {
    z-index: 100;
    font-size: 7vw;
    color: #fff;
  }

  .nav__image {
    width: 6.5rem;
    margin-top: -10%;
    height: auto;
  }

  /* Footer */
  #footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 18vh;
    background-color: #222831;
    z-index: 1000;
    margin-top: 82vh;
    box-shadow: 1px 1px 10px #222831;
  }

  .footer__text {
    color: transparent;
    position: absolute;
    z-index: -1000;
  }

  .footer__media {
    margin: 1.5% 1% 0 1%;
  }

  /* About */
  #about {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;
    overflow-y: scroll;
  }

  /* About Info */

  .about__info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__info h2 {
    font-size: 6vw;
    font-family: bold;
    margin: 0;
    color: #222831;
  }

  .about__info p {
    width: 80%;
    font-size: 1.6rem;
    font-family: normal;
    margin: 0;
    line-height: 6vh;
    text-align: center;
  }

  /* Contact */
  #contact {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 200vh;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 60vh;
    background-color: #fff;
  }

  .contact__form h2 {
    font-size: 0rem;
  }

  .contact__form img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .contact__form span {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #222831;
    margin: 10px;
  }

  .contact__form span input,
  .contact__form span textarea {
    background-color: transparent;
    border-color: transparent;
    resize: none;
    font-size: 20px;
    color: #393e46;
    font-family: normal;
    padding: 10px;
    overflow: auto;
  }

  .contact__form span input::placeholder,
  .contact__form span textarea::placeholder {
    font-family: bold;
    color: #393e46aa;
  }

  .contact__form span textarea {
    padding-top: 40px;
  }

  .contact__form__send {
    width: 70px;
    height: 70px;
    margin-bottom: 20vh;
    border-radius: 100%;
    transition: transform 0.1s;
  }

  .contact__form__send img {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 100;
  }

  #contact__form__send {
    position: absolute;
    z-index: 200;
    width: 70px;
    height: 70px;
  }

  .contact__form__send:hover {
    transform: scale(1.2);
  }

  #contact__form__name,
  #contact__form__email,
  #contact__form__info {
    width: 80vw;
  }

  #contact__form__info {
    height: 20vh;
  }

  #contact__form__name input,
  #contact__form__email input,
  #contact__form__info textarea {
    width: 80vw;
  }

  #contact__form__info textarea {
    height: 20vh;
  }
}

@media screen and (max-width: 440px) {
  /* Home */
  #home {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .home__buttons a:link,
  .home__buttons a:visited,
  .home__buttons a:active {
    color: #fff;
    text-decoration: none;
  }

  /* Buttons */

  .home__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25vh;
    flex-wrap: wrap;
  }

  .home__buttons__contact,
  .home__buttons__about {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 20vh;
    background-color: #222831;
    border-radius: 20px;
    text-align: center;
  }

  .home__buttons__contact span,
  .home__buttons__about span {
    position: absolute;
    color: transparent;
    font-size: 1.8rem;
    font-family: normal;
  }

  .home__buttons__contact img,
  .home__buttons__about img {
    margin-top: 5%;
    width: 6em;
    height: 6em;
  }

  .home__buttons__games {
    display: flex;
    justify-content: center;
    width: 85vw;
    height: 20vh;
    background-color: #222831;
    border-radius: 20px;
    margin-top: -20vh;
  }

  .home__buttons__games span {
    position: absolute;
    color: transparent;
    font-family: normal;
    font-size: 3rem;
  }

  .home__buttons__games img {
    width: 6em;
    height: 6em;
  }

  /* Nav */

  #nav {
    display: flex;
    position: fixed;
    background-color: #222831;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 10px #222831;
  }

  .nav__games,
  .nav__about {
    z-index: -1000;
    font-size: 0;
    position: absolute;
    color: transparent;
  }

  .nav__image {
    width: 6.5rem;
    margin-top: -10%;
    height: auto;
  }

  /* Footer */
  #footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 18vh;
    background-color: #222831;
    z-index: 1000;
    margin-top: 82vh;
    box-shadow: 1px 1px 10px #222831;
  }

  .footer__privacy {
    margin-top: 12.5vh;
    font-size: 1rem;
  }

  .footer__text {
    color: transparent;
    position: absolute;
    z-index: -1000;
  }

  .footer__media {
    margin: 1.5% 2% 0 2%;
  }

  /* About */
  #about {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;
    overflow-y: scroll;
  }

  /* About Info */

  .about__info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__info h2 {
    font-size: 10vw;
    font-family: bold;
    margin: 0;
    color: #222831;
  }

  .about__info p {
    width: 99%;
    font-size: 1.6rem;
    font-family: normal;
    margin: 0;
    line-height: 6vh;
    text-align: center;
  }

  /* Contact */
  #contact {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 200vh;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    background-color: #fff;
  }

  .contact__form h2 {
    font-size: 0rem;
  }

  .contact__form img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .contact__form span {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #222831;
    margin: 10px;
  }

  .contact__form span input,
  .contact__form span textarea {
    background-color: transparent;
    border-color: transparent;
    resize: none;
    font-size: 20px;
    color: #393e46;
    font-family: normal;
    padding: 10px;
    overflow: auto;
  }

  .contact__form span input::placeholder,
  .contact__form span textarea::placeholder {
    font-family: bold;
    color: #393e46aa;
  }

  .contact__form span textarea {
    padding-top: 40px;
  }

  .contact__form__name {
    width: 400px;
    height: 60px;
  }

  .contact__form__email {
    width: 400px;
    height: 60px;
  }

  .contact__form__info {
    width: 400px;
    height: 180px;
  }

  .contact__form__send {
    width: 70px;
    height: 70px;
    margin-bottom: 20vh;
    border-radius: 100%;
  }

  .contact__form__send img {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 100;
  }

  #contact__form__send {
    position: absolute;
    z-index: 200;
    width: 70px;
    height: 70px;
  }

  #contact__form__name,
  #contact__form__email,
  #contact__form__info {
    width: 90vw;
  }
}
